<a href="https://colab.research.google.com/github/ramonhveloso/geomatics1/blob/main/GeoPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* **ACESSANDO PLANILHA NO GOOGLE SHEETS**

In [ ]:
import pandas as pd
import numpy as np
import geopandas as gpds
import shapely.geometry
import geopy
from geopy.geocoders import Nominatim

*  **ACESSANDO PLANILHA**

In [ ]:
spreadsheet = gc.open('Arquivo')
page = spreadsheet.sheet1

In [ ]:
Data = pd.DataFrame(page.get_all_records())
display(Data)

    DADOS FORNECIDOS PELA ACCENTURE
0                             SITES                LAT/LONG
1                             VZBSP  -23.525789, -46.659333
2                             PNPSP  -22.720944, -47.665958
3                             SBFSP  -22.759503, -47.394942
4                             DSGSP  -21.656117, -50.010461
..                              ...                     ...
246                           AJASP  -22.709356, -46.768878
247                           BSLSP  -23.795586, -45.999667
248                           AJPSP  -23.392578, -46.280569
249                           DPGSP  -21.890878, -46.863489
250                           BVASP  -23.814669, -46.094453

[251 rows x 2 columns]

* **TRANFORMANDO ENDEREÇO EM COORDENAS:**

 Apenas um endereço:

In [ ]:
Cidade = 'Curitiba, PR'
gpds.tools.geocode(Cidade, provider = Nominatim, user_agent = 'Intro Geocode', country_bias = 'Brazil' )

                      geometry                                            address
0  POINT (-49.27127 -25.42960)  Curitiba, Região Geográfica Imediata de Curiti...

Lista de endereços, e criando nova coluna na planilha com as novas coordenas:

In [ ]:
Cidades = Data['ENDEREÇO SITE']
end['Geom'] = gpds.tools.geocode(Cidades, provider= Nominatim, user_agent = "Intro Geocode", country_bias = 'Brazil')['Geometry']
end.head()
end.Geom

* **TRANSFORMANDO COORDENADAS EM ENDEREÇOS:**

Apenas uma coordenada:

In [ ]:
Coordenada = ("-25.469503, -49.308312")
geolocator = Nominatim(user_agent="Intro Geocode")
location = geolocator.reverse(Coordenada)
print(location)

894, Rua Agostinho Merlin, Portão, Curitiba, Região Geográfica Imediata de Curitiba, Região Metropolitana de Curitiba, Região Geográfica Intermediária de Curitiba, Paraná, 80320300, Brasil

Lista de Coordenadas, e criando nova coluna na planilha com os novos endereços:

In [ ]:
geolocator = Nominatim(user_agent="Intro Geocode")
y= Data.apply(lambda row: geopy.geocoders.osm.Nominatim(user_agent="Intro Geocode").reverse(row['LAT/LONG']),axis = 1)
print(y)

In [ ]:
Data['ENDEREÇOS CORDENADAS'] = [x.address for x in y]

In [ ]:
display(Data)

In [ ]:
Data.info

Criando nova pagina na Planilha

In [ ]:
alt_python = spreadsheet.add_worksheet('Dados2.py', rows = 250, cols= 11)

Adiciona os valores a planilha

In [ ]:
alt_python.update([Data.columns.values.tolist()] + Data.values.tolist())